body{
    padding: 100px;
}
#submit-area{
    margin: 0 auto;
     ;
}
.input-item{
    padding: 20px 10px !important;
    margin: 10px 0px;
}
#login{
    padding: 10px 40px !important;
    font-size: 20px;
}
#transection-area{
    display: none;
    margin: 0 auto;
}


.balance-output{
    text-transform: capitalize;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin: 20px 22px;
    display: block;
    padding: 20px 15px;
    color: white;
    box-sizing: border-box;
}
#balance{
    background-color: rgb(177, 18, 18);
}
#withdraw{
background-color: rgb(0, 4, 255);
}
#deposite{
    background-color: rgb(228, 196, 15);
}
.balance-input{
    margin-top: 20px !important;
    
    margin-left: 3%;
    padding: 60px 10px;
}
.input-amount{
    margin: 18px 0px;
}